<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="./style.css">
</head>

<body>

    <div id="app">

        <h1 v-if="user.age <= 0 || user.age > 118" class="rango_err">
            Tu edad esta fuerda de rango, verificala
        </h1>
        <h1 v-else-if="user.age >= 18" class="good"></h1>
      <!--  <h1 v-if="user.age >= 18 || user.age < 60" class="good">Eres Mayor de edad</h1>-->
        <h1 v-else class="error">Eres menor de edad</h1> <!-- v-else puede quedar en blanco = v-else class="error"    -->

        <!--  <h1 :class="user.classValue">
            {{ user.age > 18 ? user.classValue = "good" : user.classValue = "error" }}
            {{ user.name}}
        </h1>-->


        <!-- <h1>{{user.title}}</h1>
        <h2>{{user.name}}</h2>
        <h2>{{user.age}}</h2>

        <h2>{{person.firstName}}</h2>
        <h2>{{user.age < 18? "No puedes pasar" : "Puedes pasar" }}</h2>
                <h2>{{user.movies[0]}}</h2>
                <hr>
                <a v-bind:href="user.url" target="_blank">Git Hub</a>
                v-bind:href="user.url", Vue v-bind es una ruta y lo que contenta lo concat en llaves
                <br>
                <a v-bind:href="user.website" target="_blank">Google</a>
                <hr>
                 :src="user.picture", los : hace referencia a v-bind
                <img :src="user.picture" width="300" height="300"> -->
    </div>

    <script src="./script.js"></script>

    <script>
        const mountApp = app.mount('#app');
    </script>
</body>

</html>